

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  background:#fff;
  color: #161209;
  font-family:'Lora',serif;
  font-weight:normal;
  font-style:normal;
  line-height:1.5;

  &.dark-theme {
    background:$dark-theme-background;
    color:$dark-theme-color;
  }
}

.wrapper {
  display:flex;
  flex-direction: column;
  min-height:100vh;

  > * {
    padding:1rem;
  }
}

main {
  flex-grow: 1;
}

h1,h2,h3,h4,h5,h6 {
  font-family:'Source Sans Pro', sans-serif;
  font-weight:700;
  font-style:normal;
  text-rendering: optimizeLegibility;
  margin-top:0.2rem;
  margin-bottom:0.5rem;
  line-height:1.4;
}

a {
  text-decoration: none;
  color:#000;

  &:hover {
    color:$light-theme-color-highlight;
    transition: color .2s ease,border-color .2s ease,background .2s ease,opacity .2s ease;
  }

  .dark-theme & {
    color:$dark-theme-color;

    &:hover {
      color:$dark-theme-color-highlight;
    }
  }
}