@charset "UTF-8";

/* Light theme */
$light-theme-background: #fff;
$light-theme-color: #222;
$light-theme-color-highlight: #2d96bd;

/* Dark theme */
$dark-theme-background: #292a2d;
$dark-theme-color: #a9a9b3;
$dark-theme-color-highlight: #fff;


/* Screen sizes used for breakpoints in media queries */
$screen-small: 576px;
$screen-medium: 768px;
$screen-large: 992px;
$screen-xl: 1200px;

$border-size: 1rem;