{{ define "main" }}

<header class="post-header-content">
    <section class="header-content">
        <h1 class="post-title">
            <span>{{ .Title }}</span>
        </h1>
        <div class="post-meta">
            <div class="reading-time">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span>{{ .ReadingTime }} {{ "minute" | pluralize }}</span>
            </div>
            <div class="publish-date">
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                <span>{{ .PublishDate.Format "2 Jan 2006" }}</span>
            </div>
        </div>
    </section>
</header>

<main id="content" class="" role="main">
    <article class="post-content">
        {{ .Content }}

        {{$tagsLength := len .Params.tags}}
        {{if (gt $tagsLength 0)}}
        <section class="tags">
            <strong>Tags:</strong>
            {{ range $index, $tag := .Params.tags }}
                <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>{{ if lt $index (sub $tagsLength 1) }},{{ end }}
            {{ end }}     
        </section>
        {{end}}

    </article>
</main>


{{ end }}