<footer class="footer">
	<div class="footer-container">
        <div class="footer-content">
        	<span>Made with &#10084; by Joakim Skoog</span>
        </div>    
    </div>
    <div class="footer-container">
        <div class="footer-content">
            {{- range $index, $key := .Site.Params.social -}}
                &nbsp;<a href="{{ $key.url }}" title="{{ $key.name }}" class="icon-container"><i class="icon icon-{{ $key.icon }}"></i></a> &nbsp;
            {{- end -}}
     
        </div>
    </div>
  
</footer>