<header class="site-header">
    <section class="header-content">
        <h1 class="author-title">
            <span>{{ .Site.Author.name }}</span>
        </h1>
        <h2 class="author-description">
            <span>{{ .Site.Author.description }}</span>
        </h2>
        <div class="header-content-social-icons">
            {{ range .Site.Params.social }}
            <a href="{{ .url }}" title="{{ .title }}">
                <i class="fa fa-fw fa-{{ .icon }}" aria-hidden="true"></i>
            </a>
            {{ end }}
        </div>
    </section>
</header>

