<header class="site-header">
    <a href="#" class="menu-button burger-wrapper">
        <hr class="burger burger-top">
        <hr class="burger burger-middle">
        <hr class="burger burger-bottom">
    </a>
    <nav class="navigation">
        <ul class="menu">
            {{ range .Site.Menus.main }}
            <li>
                <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </nav>
    <section class="header-content">
        <h1 class="author-title">
            <span>Joakim Skoog</span>
        </h1>
        <h2 class="author-description">
            <span>Senior Software Developer</span>
        </h2>
        <div class="header-content-social-icons">
            {{ range .Site.Params.social }}
            <a href="{{ .url }}" title="{{ .title }}">
                <i class="fa fa-fw fa-{{ .icon }}" aria-hidden="true"></i>
            </a>
            {{ end }}
        </div>
    </section>
</header>